@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Witamy</h1>
    <h2 class="display-4">w aplikacji do zarządzania serwisem komputerowym</h2>
    <h3 class="display-4">Zaloguj się jako serwisant albo klient</h3>
</div>
